.chose_products_type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  width: auto;
  height: 200px;
  padding: 0.5%;
  align-items: center;
}

.food-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 25%;
  height: auto;
  padding: 1%;
  margin: 2%;
}

.chose_products_type img {
  width: 50%;
  max-height: auto;
  border-radius: 20%;
}

.details a {
  text-decoration: none;
  color: black;
}
